<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="javascripts/typing.js"></script>
</head>

<body>
<div id="container">
  <div id="header">
    <h1>I'm Not Your Type!</h1>
  </div>
  <div id="text-to-type">
    <p id="test">With great power comes great responsibility.</p>
  </div>


  <div id="text-box">
    <input class="text-box" type="text" name="Type Box" onkeypress="gameLogic(event)">
  </div>
  <div id="gurl-image">
    <table class="gurl">
      <tr>
        <td><img src="http://www.run4shalva.org/blog/wp-content/uploads/2012/12/happy-cartoon-girl.jpg" width="192" height="256"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div id="text"></div>
  <div id="timer">
    <br/>
    <span id="wpm"></span>
    <br/>
    <span id="time-elapsed"></span>
  </div>
</div>
</body>
</html>