<!DOCTYPE html>
<html>
<head>
  <script src="javascripts/typing.js"></script>
</head>

<body>
<h1>I'm Not Your Type!</h1>

<p id="test">With great power comes great responsibility.</p>


<textarea rows="4" cols="60" name="Type Box" onkeypress="gameLogic(event)"></textarea>
<br/>
<span id="text"></span>
<br/>
<span id="time-elapsed"></span>
<br/>
<span id="wpm"></span>
</body>
</html>