<!DOCTYPE html>
<html>
<head>
  <script src="javascripts/typing.js"></script>
</head>

<body>
<h1>I'm Not Your Type!</h1>

<p id="prompt">With great power comes great responsibility.</p>

<textarea rows="4" cols="60" name="Type_Box" onkeypress="view.addCorrectLettersToPage(event)"></textarea>
<br/>
<span id="text"></span>
</body>
</html>