<!DOCTYPE html>
<html>
<head>
  <script src="javascripts/typing.js"></script>
</head>

<body>
<h1>I'm Not Your Type!</h1>

<p>With great power comes great responsibility.</p>

<textarea rows="4" cols="60" name="Type Box" onkeypress="concatenatingString(event)"></textarea>
<br/>
<span id="text"></span>
</body>
</html>