<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="javascripts/timer.js"></script>
  <script src="javascripts/typing.js"></script>
  <script src="application.js"></script>
</head>

<body>
<div id="container">
  <div id="header">
    <h1>I'm Not Your Type!</h1>
  </div>
  <div id="text-to-type">
    <p id="test">Hey, I just noticed you looking at me across the room. I'll give you a minute to catch your breath!</p>

    <span class="letters" id="active">H</span>
    <span class="letters">e</span>
    <span class="letters">y</span>
    <span class="letters">,</span>
    <span class="letters"> </span>
    <span class="letters">I</span>
    <span class="letters"> </span>
    <span class="letters">j</span>
    <span class="letters">u</span>
    <span class="letters">s</span>
    <span class="letters">t</span>
    <span class="letters"> </span>
    <span class="letters">n</span>
    <span class="letters">o</span>
    <span class="letters">t</span>
    <span class="letters">i</span>
    <span class="letters">c</span>
    <span class="letters">e</span>
    <span class="letters">d</span>
    <span class="letters"> </span>
    <span class="letters">y</span>
    <span class="letters">o</span>
    <span class="letters">u</span>
    <span class="letters"> </span>
    <span class="letters">l</span>
    <span class="letters">o</span>
    <span class="letters">o</span>
    <span class="letters">k</span>
    <span class="letters">i</span>
    <span class="letters">n</span>
    <span class="letters">g</span>
    <span class="letters"> </span>
    <span class="letters">a</span>
    <span class="letters">t</span>
    <span class="letters"> </span>
    <span class="letters">m</span>
    <span class="letters">e</span>
    <span class="letters"> </span>
    <span class="letters">a</span>
    <span class="letters">c</span>
    <span class="letters">r</span>
    <span class="letters">o</span>
    <span class="letters">s</span>
    <span class="letters">s</span>
    <span class="letters"> </span>
    <span class="letters">t</span>
    <span class="letters">h</span>
    <span class="letters">e</span>
    <span class="letters"></br></span>
    <span class="letters">r</span>
    <span class="letters">o</span>
    <span class="letters">o</span>
    <span class="letters">m</span>
    <span class="letters">.</span>
    <span class="letters"> </span>
    <span class="letters">I</span>
    <span class="letters">'</span>
    <span class="letters">l</span>
    <span class="letters">l</span>
    <span class="letters"> </span>
    <span class="letters">g</span>
    <span class="letters">i</span>
    <span class="letters">v</span>
    <span class="letters">e</span>
    <span class="letters"> </span>
    <span class="letters">y</span>
    <span class="letters">o</span>
    <span class="letters">u</span>
    <span class="letters"> </span>
    <span class="letters">a</span>
    <span class="letters"> </span>
    <span class="letters">m</span>
    <span class="letters">i</span>
    <span class="letters">n</span>
    <span class="letters">u</span>
    <span class="letters">t</span>
    <span class="letters">e</span>
    <span class="letters"> </span>
    <span class="letters">t</span>
    <span class="letters">o</span>
    <span class="letters"> </span>
    <span class="letters">c</span>
    <span class="letters">a</span>
    <span class="letters">t</span>
    <span class="letters">c</span>
    <span class="letters">h</span>
    <span class="letters"> </span>
    <span class="letters">y</span>
    <span class="letters">o</span>
    <span class="letters">u</span>
    <span class="letters">r</span>
    <span class="letters"> </span>
    <span class="letters">b</span>
    <span class="letters">r</span>
    <span class="letters">e</span>
    <span class="letters">a</span>
    <span class="letters">t</span>
    <span class="letters">h</span>
    <span class="letters">!</span>
    <br/><br/>
  </div>

  <div id="text-box">
    <input id="typing-zone" type="text" name="Type Box" placeholder="TYPE!">
  </div>
  <div id="kids">
    <div id="boy">
      <img src="boy.png" width="38%">
    </div>
    <div id="gurl-image">
      <table class="gurl">
        <tr>
          <td><img src="gurl.png" width="134px" height="179px"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div id="text"></div>
  <div id="stats">
    <br/>
    <span id="wpm"></span>
    <br/>
    <span id="time-elapsed"></span>
    <br/>
    <span id="accuracy"></span>
  </div>
</div>
</body>
</html>
